.Main {
  padding: 3vh 0;
  height: 70vh;
}

.Main-forms {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Main-formWrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.Main-input {
  border: 2px solid #000;
  border-radius: 5px;
  width: 100%;
  height: 120px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.Main-output {
  border: 2px solid #000;
  border-radius: 5px;
  width: 100%;
  height: 120px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.Main-arrowImg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  width: 10%;
}

.Main-arrowImg>img {
  width: 50px;
  height: 20px;
}

.Main-checkedCurrency {
  margin-block-start: 0;
  margin-block-end: 0;
  background: #43CD80;
  padding: 4px;
  width: 55px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.Main-submit {
  margin-top: 10px;
  width: 80%;
  height: 40px;
  background: #43CD80;
  color: white;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
}

.Main-submit:hover {
  cursor: pointer;
  background: rgb(44, 57, 229);
  color: white;
  font-size: 16px;
}

.MainPage-ul {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-block-start: 0;
  margin-block-end: 0; 
  padding-inline-start: 5px;
}

.MainPage-ul li {
  background: rgb(44, 57, 229);
  text-align: center;
  color: white;
  padding: 4px;
  width: 45px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.MainPage-ul li:first-child {
  border-left: 1px solid #000;
  border-radius: 5px 0 0 5px;
}

.MainPage-ul li:last-child {
  border-radius: 0 5px 5px 0;
  text-align: center;
}

.MainPage-ul li:hover {
  cursor: pointer;
  background: #43CD80;
}

@media (min-width: 1200px) and (max-width: 1359px) {
  .Main-formWrapper {
    width: 22%;
  }
}

@media (min-width: 992px) and (max-width: 1199px)  {
  .Main-formWrapper {
    width: 27%;
  }

  .Main-arrowImg {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px)  {
  .Main-formWrapper {
    width: 34%;
  }
}

@media (min-width: 576px) and (max-width: 767px)  {
  .Main-formWrapper {
    width: 45%;
  }

  .Main-arrowImg>img {
    width: 40px;
    height: 20px;
  }
}

@media (min-width: 420px) and (max-width: 575px) {
  .Main-forms {
    width: 100%;
    flex-direction: column;
  }

  .Main-formWrapper {
    width: 80%;
    margin-bottom: 30px;
  }

  .Main-arrowImg {
    display: none;
  }

  .Main-checkedCurrency {
    width: 60px;
  }

  .MainPage-ul li {
    width: 50px;
  }
}

@media (max-width: 419px) {
  .Main-forms {
    width: 100%;
    flex-direction: column;
  }

  .Main-formWrapper {
    width: 80%;
    margin-bottom: 30px;
  }

  .Main-arrowImg {
    display: none;
  }

  .Main-input {
    height: 70px;
  }
  
  .Main-output {
    height: 70px;
  }
 
  .Main-output>p {
    height: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .Main-checkedCurrency {
    width: 58px;
  }

  .MainPage-ul li {
    width: 48px;
  }
}