* {
  box-sizing: border-box;
  font-family: Candara, sans-serif;
  list-style-type: none;
}

.Wrapper {
  margin: 0 auto;
}

@media (min-width: 1360px) {
  .Wrapper {
    width: 1200px;
  }
}

@media (min-width: 1200px) and (max-width: 1359px) {
  .Wrapper {
    width: 1120px;
  }
}

@media (min-width: 992px) and (max-width: 1199px)  {
  .Wrapper {
    width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 991px)  {
  .Wrapper {
    width: 700px;
  }
}

@media (min-width: 576px) and (max-width: 767px)  {
  .Wrapper {
    width: 530px;
  }
}

@media (min-width: 420px) and (max-width: 575px) {
  .Wrapper {
    width: 400px;
  }
}

@media (max-width: 419px) {
  .Wrapper {
    width: 320px;
  }
}